.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #222;
  height: 100px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.Product{
  float:left;
  margin-left: 17%;
  margin-top: 8px;
  padding:20px;
  border:1px solid gray;
}

.Total{
  clear:both;
  padding:60px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
